.block-table-game {
  width: 98%;
  margin: 30px auto 50px;

  @include mq($from: tablet) {
    width: 70%;
  }

  @include mq($from: desktop) {
    width: 50%;
  }

  .gogame {
    margin-bottom: 6px;
    a {
      color: white;
    }
  }

  .wrapper {
    border: 1px solid $color-white;
    background-color: $color-black;
    color: $color-white;
  }

  .resume {
    font-weight: bold;
    margin: 20px auto 10px;
    text-align: center;
  }

  .result {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .num-color-green {
    color: #1bff00;
    text-shadow: 1px 1px 1px white;
  }
  .num-color-red {
    color: #ff4800;
    text-shadow: 1px 1px 1px white;
  }
  .num-color-black {
    color: #1a012b;
    text-shadow: 2px 1px 2px white;
  } 


  .actions  {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 20px auto 20px;
    text-align: center;

    div {
      flex: 1;
    }

    .reload span {
      cursor: pointer;
    }

    .reload button {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.164);
      border: 1px solid rgba(255, 255, 255, 0.315);
      border-radius: 6px;
      color: white;
    }
  }


  table {
    margin: auto;
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
    background: rgb(34,84,195);
    background: linear-gradient(0deg, rgba(34,84,195,0.15029761904761907) 41%, rgba(45,93,253,1) 100%);

    td {
      vertical-align: middle;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .table-game {
    td, th {
      padding: 2px;
      border-spacing: 0;
      border: 2px solid rgba(154, 176, 199, 0.267);
      font-size: 0.8em;
      //border-radius: 5px;
      
    }
    .head {
      th {
        background-color: rgb(121, 121, 121);
        font-weight: bold;
      }
    }
    .own {
      td {
        background-color: rgb(126, 27, 255);
        color: white;
        font-weight: bold;
      }
    }
    .row {
      .player {
        font-weight: bold;
      }
    }
    tr:nth-child(even) {
      background-color: #f2f2f2bb;
      color: black;
    }
  }

  .bet, .gain {
    width: 20%;
    text-align: center;
  }

  .footer {
    td {
      text-align: center;
      padding: 20px 0px;
    }  
  }

};