.balance {
  // height: 100px;
  width: 100%;
  margin: auto;
  color: $color-white;

  .title {
    text-align: center;
    margin: 30px;
    margin-bottom: 10px;
    h2 {
      font-size: 1.25em;
      font-weight: bold;
    }
  }

  .subtitle {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 0.9em;
    line-height: 1.25em;
  }

  .rate {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1em;
  }

  .buy {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1em;
  }

  .thanks {
    width: 76%;
    margin: auto;
    margin-bottom: 10px;
    padding: 15px;
    text-align: center;  
    border: 2px solid rgb(23, 204, 62);
    background-color: rgb(23, 204, 62);
    border-radius: 10px;
    font-size: 0.9em;
    font-weight: bold;
    color: rgb(221, 255, 224);
    overflow-wrap: break-word;
    word-wrap: break-word;
  }


  .wallet {
    width: 76%;
    padding: 20px;
    text-align: center;
    margin: auto;    
    border: 2px solid rgba(255, 208, 0, 0.548);
    background-color: rgba(141, 141, 141, 0.445);
    border-radius: 10px;
    font-size: 0.9em;
    font-weight: bold;
    color: rgb(255, 166, 0);
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .processing {
    width: 76%;
    padding: 20px;
    text-align: center;
    margin: auto;    
    border: 2px solid rgba(255, 208, 0, 0.548);
    background-color: rgb(255, 166, 0);
    border-radius: 10px;
    font-size: 0.9em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .actions {
    width: 50%;
    margin: 20px auto 10px;

    div {

      button {
        // height: 30px;
        width: 100%;
        padding: 10px;
      }
    }
  }

  .question {
    margin: 20px;
    margin-bottom: 30px;
    text-align: center;
  }

};